@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0%;
    padding: 0%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #EBEBEB;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1%;
    padding-bottom: 1%;
    background: white;
}
.left{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
    margin-left: 5.52%;
}
.left p{
    margin-left: 15.22px;
}
.right{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 5%;
}
.right button{
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    background-color: #DE6262;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 2% 5%;
    margin-right: 10%;
    transition: 0.5s;
}
.right button:hover{
    background-color: #dd4646;
    transform: scaleX(1.1);
}
.right #limit{
    background-color: #2C9CC1;
}
.right #limit:hover{
    background-color: #1b8eb5;
}
.right p{
    font-weight: 400;
    font-size: 28px;
    line-height: 48px;
    color: #FFFFFF;
    background: #D9D9D9;
    padding: 0% 7%;
    border-radius: 50%;
    text-transform: capitalize;
}
.right a{
    text-decoration: none;
    color: white;
}
.display{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
}
.box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 20px;
    width: 40%;
    padding: 0% 2% 0.8% 2%;
}
.para{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.para h4{
    font-weight: 300;
    font-size: 32px;
    line-height: 48px;
    color: #000000;
}
.para h3{
    font-weight: 600;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}
.past{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.past h4{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2E8EFF;
}
.past p{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-left: 10px;
}
.para h5{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background: #2C9CC1;
    padding: 3px 10px;
    border-radius: 8px;
    margin-left: 10px;
}
.line img{
    width: 153px;
}
.display2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.graph{
    background: white;
    width: 55%;
    margin-left: 4%;
    border-radius: 20px;
    padding-bottom: -5%;
    overflow: hidden;
}
.graph .head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
}
.graph .head h1{
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}
.graph .head a{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    background: white;
    color: #A9A9A9;
    border: none;
    cursor: pointer;
}
.graph .dropm1{
    border: 1px solid #A9A9A9;
    padding: 0.5% 2%;
    border-radius: 10px;
}
.graph #drop1ele{
    display: none;
}
.graph #drop1ele hr{
    color: #A9A9A9;
    margin-top: 2%;                                                                                                                                                                                                                                                                                                                                                                                                 
    width: 100%;
}
.graph #drop1ele a{
    text-decoration: none;
    color: #A9A9A9;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}
#piechart1_3d{
    display: none;
}
.chart {
    width: 1000px; 
    height: 330px;
    margin-left: -5%;
    overflow: auto;
}
.most{
    background: white;
    width: 33%;
    margin-right: 4%;
    border-radius: 20px;
}

.most .head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2% 5%;
}
.most .head h1{
    font-weight: 400;
    font-size: 36px;
    line-height: 54px;
    color: #000000;
}
.most .head a{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
    background: white;
    color: #A9A9A9;
    border: none;
    cursor: pointer;
}
.most .dropm2{
    border: 1px solid #A9A9A9;
    padding: 0.5% 2%;
    border-radius: 10px;
}
.most #drop2ele{
    display: none;
}
.most #drop2ele hr{
    color: #A9A9A9;
    margin-top: 2%;                                                                                                                                                                                                                                                                                                                                                                                                 
    width: 100%;
}
.most #drop2ele a{
    text-decoration: none;
    color: #A9A9A9;
    font-weight: 300;
    font-size: 20px;
    line-height: 30px;
}
#list2{
    display: none;
}
.most .list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:5%;
    margin-bottom: 3%;
}
.most .list hr{
    width: 87%;
    border: 0.5px solid #D9D9D9;
    margin: 1% 1%;
}
.most .list .p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 86%;
    margin: 0% 1%;
}
.most .list .p p{
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #000000
}
.most .list .p h3{
    font-weight: 800;
    font-size: 24px;
    line-height: 48px;
    color: #000000;
}


@media screen and (max-width:480px) {
    .para h4{
        font-size: 20px;
    }
    .para h3{
        font-size: 24px;
    }
    .past{
        font-size: 14px;
    }
    .line img{
        width: 100px;
    }
}

@media screen and (max-width:1280px) {
    .right{
        margin-right: 7%;
    }
}

@media screen and (max-width:1070px) {
    .display{
        display: flex;
        flex-direction: column;
    }
    .box{
        width: 60%;
        margin-top: 1%;
    }
}

@media screen and (max-width:635px) {
    .box{
        width: 90%;
    }
    .para h4{
        font-size: 22px;
    }
    .para h3{
        font-size: 26px;
    }
}
@media screen and (max-width:375px) {
    .box{
        display: flex;
        flex-direction: column-reverse;
    }
    .line{
        margin-top: 8%;
        margin-bottom: 3%;
    }
}
@media screen and (max-width:1265px) {
    .chart{
        margin-left: -10%;
    }
}
@media screen and (max-width:1020px) {
    .chart{
        width: 50%;
        min-height: 150px;
    }
}
@media screen and (max-width:1330px) {
    .display2{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2% 15%;
    }
    .most{
        margin-top: 25px;
        width: 100%;
        margin-left: 8%;
    }
    .graph{
        width: 100%;
    }
}
@media screen and (max-width:1100px) {
     .chart{
        width: 800px;
        height: 350px;
     }
}
@media screen and (max-width:900px) {
    .chart{
        width: 600px;
        height:300px;
        margin-left: -5%;
    }
    .display2{
        margin: 2% 8% ;
    }
    .right{
        margin-right: 10%;
    }
}
@media screen and (max-width:760px) {
    .chart{
        margin-left: -10%;
    }
    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .right{
        margin-right: 0%;
        margin-top: 5%;
        margin-left: 7%;
    }
}
@media screen and (max-width:700px) {
    .display2{
        margin: 2% 5% 2% 0%;
    }
}
@media screen and (max-width:540px) {
    .chart{
        width: 450px;
        height: 300px;
    }
}
@media screen and (max-width:400px) {
    .chart{
        width: 300px;
        height: 200px;
        margin-left: 3%;
    }
    .most .list .p p{
        font-size: 16px;
    }
    .most .list .p h3{
        font-size: 20px;
    }
}
@media screen and (max-width:500px) {
    .graph .head h1 {
        font-size: 30px;
    }
}
@media screen and (max-width:420px) {
    .graph .head h1 {
        font-size: 26px;
    }
    .most .head h1{
        font-size: 28px;
    }
}
@media screen and (max-width:380px) {
    .graph .head {
        flex-direction: column;
    }
    .most .head{
        flex-direction: column;
    }
    .left p{
        font-size: 24px;
    }
    .right button{
        font-size: 16px;
        padding: 0% 10%;
    }
    .right p{
        font-size: 24px;
        padding: 0% 10%;
        padding-top: -2%;
        padding-bottom: -2%;
    }
}
@media screen and (max-width:300px) {
    .most .list .p{
        flex-direction: column;
        justify-content: center;
    }
    .right{
        margin-left: 0%;
    }
}