{% load static %}
{% static "images" as baseUrl %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Activity Tracker Time Setter</title>
    <link rel="stylesheet" href="{% static 'styles/alarmstyle.css'%}">
</head>
<body>
    <h1>Set alarms for your websites</h1>
    <a href="{% url 'home' %}"><button>Go Back</button></a>
    <form action="" method=post>
        {%csrf_token%}
        <input type="text" name="url">
        <input type="number" value="1" name="hour" min="0" max="24"><p>h</p>
        <input type="number" min="0" name="minute" max="60"value="0"><p>m</p>
        <button type="submit" onclick="redirect()">set</button>
    </form>
    <div id="msg" align="center">{% for message in messages%}
            <h3>{{message}}</h3>
            {% endfor %}
    </div>
    <div class="list">
        {%for a in alarm%}
        <p align="center"><b>Url:</b>{{a.url}}&emsp;&emsp;&emsp;&emsp;<b>Time:</b>{{a.time}}&emsp;&emsp;&emsp;&emsp;<b>Set time:</b>{{a.settime}}
        <a href="{% url 'deletealarms' a.url %}" class="btn btn-outline-danger btn-sm">Delete</a></p><hr>
        {%endfor%}
    </div>
    <script>
        function redirect(){
            window.location.href='http://127.0.0.1:8000/set_alarms'
        }
    </script>
</body>
</html>