{% load static %}
{% static "images" as baseUrl %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity Tracker</title>
    <link rel="stylesheet" href="{% static 'styles/stylew.css'%}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<body>
    <div class="header">
        <div class="left">
            <img src="{% static 'images/logo1.png'%}" alt="logo1">
            <p>Activity Tracker</p>
        </div>
        <div class="right">
            <button id="limit"><a href="{% url 'alarms' %}" >Set&nbsp;Limits</a></button>
            <button><a href="{% url 'logout' %}">Logout</a></button>
            <p id="user" title="{{user.username}}">{%if user.is_authenticated%}
                {{user.username|make_list|first}}
             {%endif%}</p>
        </div>
    </div>
    <div class="content">
        <div class="display">
            <div class="box">
                <div class="para">
                    <h4>Today</h4>
                    <h3>{{senddata.todayhour}}h&nbsp;&nbsp;{{senddata.todayminutes}}m</h3>
                    <div class="past">
                        <h4 id="val1">{{senddata.change24hrs}}%</h4>
                        <p>yesterday</p>
                        <h5>{{senddata.yesterdayhour}}h&nbsp;{{senddata.yesterdayminutes}}m</h5>
                    </div>
                </div>
                <div class="line">
                    <img id="g1" src="{% static 'images/inc.png'%}">
                </div>
            </div>
            <div class="box">
                <div class="para">
                    <h4>This week</h4>
                    <h3>{{senddata.thisweeknumdays}}d&nbsp;{{senddata.thisweekhour}}h&nbsp;{{senddata.thisweekminutes}}m</h3>
                    <div class="past">
                        <h4 id="val2">{{senddata.changeweek}}%</h4>
                        <p>last week</p>
                        <h5>{{senddata.lastweeknumdays}}d&nbsp;{{senddata.lastweekhour}}h&nbsp;{{senddata.lastweekminutes}}m</h5>
                    </div>
                </div>
                <div class="line">
                    <img id="g2" src="{% static 'images/dec.png'%}">
                </div>
            </div>
        </div>
        <div class="display2">
            <div class="graph">
                <div class="head">
                    <h1 id="graphhead">Today's Activity</h1>
                    <div class="dropm1">
                        <a id="drop1"><span id="gopt1">Today</span> &nbsp;<img src="{% static 'images/arrow.png'%}" alt="arrow" id="arrow1"></a>
                    <div id="drop1ele">
                        <hr>
                        <a id="gopt2" onclick="change();">This week</a>
                    </div>
                    </div>
                </div>
                <div id="piechart_3d" class="chart"></div>
                <div id="piechart1_3d" class="chart"></div>
            </div>
            <div class="most">
                <div class="head">
                    <h1 id="mosthead">Most used</h1>
                    <div class="dropm2">
                        <a id="drop2"><span id="mopt1">Today</span> &nbsp;<img src="{% static 'images/arrow.png'%}" alt="arrow" id="arrow2"></a>
                    <div id="drop2ele">
                        <hr>
                        <a id="mopt2" onclick="change1();">This week</a>
                    </div>
                    </div>
                </div>
                <div class="list" id="list1">
                    {%for url in mostusedtoday%}
                    <hr>
                    <div class="p"><p title={{url.fullurl}}>{{url.url}}&nbsp;</p><p><b>{{url.hours}}h&nbsp;{{url.minutes}}m</b></p></div>
                    {% endfor %}
                </div>
                <div class="list" id="list2">
                    {%for url in mostusedthisweek%}
                    <hr>
                    <div class="p"><p title={{url.fullurl}}>{{url.url}}&nbsp;</p><p><b>{{url.hours}}h&nbsp;{{url.minutes}}m</b></p></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script src="{%static 'js/srcw.js'%}"></script>
</body>
</html>