<!DOCTYPE html>
    <head>
        <title>
        </title>
        <link rel="stylesheet" href="popup2style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js" integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </head>
    <body>
      <div class="contents">
        <h1>Activity Tracker</h1>
        <div class="chart">
          <p>Today, <span id="date"></span></p>
          <h2 id="todaytime"></h2>
          <div class="graph">
            <canvas id="myChart"></canvas>
          </div>
      </div>
      <h3>Current tab details</h3>
      <div id="opentab">    
      </div>
      <button><a href="" id="tabdetails">Details of all tabs opened <img src="./../static/images/arrow.png"></a></button>
    </div>
    <script src="popup2.js"></script>
    </body>
</html>